<div class="card">
    <div class="card.body">
        <h1>About</h1>
        <p>Bootstrap employs a handful of important global styles and settings that you’ll need to be aware of when using it, all of which are almost exclusively geared towards the normalization of cross browser styles. Let’s dive in.</p>
        
    </div>
</div>