<div class="jumbotron-mt-4">
    <h1 class = "display-4">Note App Nodejs and MongoDB</h1>
    <p class = "lead">Bootstrap employs a handful of important global styles and settings that you’ll need to be aware of when using it, all of which are almost exclusively geared towards the normalization of cross browser styles. Let’s dive in.</p>
    <hr class="my-4">
    <p>Be sure to have your pages set up with the latest design and development standards. That means using an HTML5 doctype and including a viewport meta tag for proper responsive behaviors. Put it all together and your pages should look like this:</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>